<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV App</title>
</head>
<body>
  <nav>
      <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>

      </ul>
  </nav>
  <h1>CV App</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum dolore eum iste maxime molestias, mollitia numquam pariatur perferendis quibusdam suscipit tempore totam velit. Consequuntur dolorum expedita, incidunt libero nemo nesciunt placeat porro praesentium quas recusandae repellendus reprehenderit vitae, voluptatibus!</p>
 <br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam atque, beatae dignissimos eos est et ipsa voluptates! Assumenda cupiditate deleniti dolore dolorum nesciunt qui sed sint veritatis. Ad aliquam architecto consequatur deleniti dignissimos doloremque ea eaque id impedit, incidunt laudantium maiores modi molestias praesentium quae quia repudiandae sed, suscipit.</p>

</body>
</html>